<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}Web Site{% endblock %}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm justify-content-around bg-dark fixed-top">
        <a href="/"><img src="{% static 'images/logo.png' %}" id="base-logo"></a>
        <form class="form-inline" action="#" id="form-base-search">
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
              <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link" id="nav-bar-base">Home</a></li>
            <li class="nav-item"><a href="/users/{{user.id}}/setting/" class="nav-link" id="nav-bar-base">Setting</a></li>
            {% if  user.is_authenticated %}
                <li class="nav-item"><a href="/users/{{user.id}}" class="nav-link" id="nav-bar-base">Profile</a></li>
            {% else %}
                <li class="nav-item"><a href="/login/" class="nav-link" id="nav-bar-base">Login</a></li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop" data-toggle="dropdown">
                  Dropdown link
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Link 1</a>
                  <a class="dropdown-item" href="#">Link 2</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="main">
        {% block content %}

        {% endblock %}
    </div>
    <footer>
        <h4>Copyright 2021 NPM.co.ltd</h4>
        <a href="#" class="word-link">Terms of service</a>
        <a href="#" class="word-link">Privacy policy</a>
        <div class="icon">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </footer>
</body>
</html>