<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}Web Site{% endblock %}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm justify-content-around bg-dark fixed-top">
        <a href="/"><img src="{% static 'images/logo.png' %}" id="base-logo"></a>
        <form class="form-inline" action="#" id="form-base-search">
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
              <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link" id="nav-bar-base">Home</a></li>
            <li class="nav-item"><a href="create/" class="nav-link" id="nav-bar-base">Create</a></li>
            <li class="nav-item"><a href="Ice's List" class="nav-link" id="nav-bar-base">Profile</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Dropdown link
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Link 1</a>
                  <a class="dropdown-item" href="#">Link 2</a>
                  <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="main">
        {% block content %}

        {% endblock %}
    </div>
    <footer>
        <h4>Copyright 2021 NPM.co.ltd</h4>
        <a href="#" class="word-link">Terms of service</a>
        <a href="#" class="word-link">Privacy policy</a>
        <div class="icon">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </footer>
</body>
</html>