{% extends 'main/base.htm' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}
{% block content %}
<div id="container">
    <div id="text-box">
        <h1>แหล่งรวมช่างมืออาชีพ</h1>
        <p>พร้อมทำงานให้คุณได้ทันที</p>
        <a href="#">เริ่มต้นจ้างช่าง</a>
    </div>
</div>
    <!--<div class="container">
        <div class="work">
            <a href="#"><img src="{% static 'images/engineer.jpg' %}"></a>
            <h3>ช่างไฟ</h3>
        </div>
        <div class="work">
            <a href="#"><img src="{% static 'images/engineer.jpg' %}"></a>
            <h3>ช่างปะปา</h3>
        </div>
        <div class="work">
            <a href="#"><img src="{% static 'images/engineer.jpg' %}"></a>
            <h3>ช่างไม้</h3>
        </div>
        <div class="work">
            <a href="#"><img src="{% static 'images/engineer.jpg' %}"></a>
            <h3>ช่างแอร์</h3>
        </div>
    </div>-->
{% endblock %}